.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ff5f45;
  ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10em;
  font-weight: 900;
  color: white;
}

.App-link {
  color: rgba(255, 255, 255, .7);
  font-size: 0.2em;
  font-weight: 100;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color:  transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}