.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ff5f45;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10em;
  font-weight: 900;
  color: white;
}

.App-link {
  color: rgba(255, 255, 255, .7);
  font-size: 0.2em;
  font-weight: 100;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: transparent;
  text-decoration: none;
}

.coins_list {
  background-color: #4599ff;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 200;
  color: white;
}

.coins_list-title {
  grid-column: span 3;
  text-align: center;
}

.coins_list-all {
  grid-column: 1ft;
  font-size: 30px;
  color: white;
  list-style: none;
}

.coins_list-favorite {
  grid-column: 1ft;
  font-size: 30px;
  list-style: none;

}

.coins_list-left {
  grid-column: 1ft;
  font-size: 30px;
  list-style: none;
}

.favorite {
  background-color: transparent;
  border: none;
  color: white;
  margin: 0 10px;
  padding: 0;
  font-size: 20px;
  outline: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}